body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #508AA8;
  --secondary: #9DD1F1;
  --tertiary:#BA1247;
  --quad: #031927;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  /* line-height: 1.5; */
  letter-spacing: .1em;
  background: var(--secondary);
  color: var(--quad);
  /* font-family: Arial, Helvetica, sans-serif; */

}
h1{
  color: var(--tertiary);
}
a{
  text-decoration: none;
  margin: 20px 10px 20px 10px;
}

.App-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.name-foot{
  background-color: #508AA8;
  display: flex;
  text-shadow:3px 3px var(--secondary);
  text-justify: center;
  justify-content:space-between;
  width: 100%;
}

a:hover{
  color:var(--tertiary);
  text-shadow: 2px 2px var(--quad);
}
.flex-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.portfolio-list{
  font-size: 15px;
  color: var(--tertiary)
}
.mx-1{
  padding: 30px;
  font-size: 20px;
}
.paragraph{
  line-height: 1.5;
}
.skills-heading{
  color: var(--tertiary);
}
.skill-list{
  color: var(--quad);
  /* display: inline; */
  list-style: none;
  line-height: 1.5;
}
.navActive{
  color: var(--quad);
}
.portfolio{
  display:  flex;
  list-style: none;
  flex-wrap: wrap;
}
.contact{
display: flex;
justify-content: space-around;
}